@import url('./_responsive.css');

.button {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

button.email-verify {
    width: 549px;
    height: 56px;
    padding-inline: 16px;
    background: #62BE12;
    border-radius: 8px;
    border: 1px solid #62BE12;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

button.email-verify > p {
    flex: 1 1 0;
    margin-bottom: 0;
    text-align: center;
    color: white;
    font-size: 16px;
    font-family: 'Manrope';
    font-weight: 700;
    text-transform: capitalize;
    line-height: 12px;
    word-wrap: break-word;
}