@media screen and (max-width: 768px){   
    .welcome .welcome-items {
        width: 90% !important;
    }
}

@media screen and (max-width: 650px){   
    .welcome-list .welcome-text {
        width: 80%;
        text-align: center;
        margin-inline: 70px;
    }

    .welcome-list .welcome-list-items {
        width: 80%;
        text-align: center;
        margin-inline: 70px;
    }
}

@media screen and (max-width: 470px){   
    .welcome-list .welcome-text {
        width: 50%;
        text-align: center;
        margin-inline: 140px;
    }

    .welcome-list .welcome-list-items {
        width: 48%;
        text-align: center;
        margin-inline: 140px;
    }
}