@import url('./_responsive.css');

:root {
                  --primary: #62BE12;
                  --primary1: #347720;
                  
              }

.navbar .navbar-brand{
                  color: black;
font-size: 24px;
font-family: 'Manrope';
font-weight: 700;
line-height: 24px;
word-wrap: break-word
}
.bg-cust{
                  background-color: rgb(238, 238, 238);
}
.navbar .register-btn{
                  border: 1px solid var(--primary);
                  color: var(--primary);
font-size: 16px;
font-family: 'Manrope';
font-weight: 700;
/* text-transform: capitalize; */

}
.navbar .login-btn {
                  background-color: var(--primary);
                  color: white;
font-size: 16px;
font-family: 'Manrope';
font-weight: 700;
/* text-transform: capitalize; */

}

.navbar .form-label {
    height: 30px;
}

.navbar .form-select {
    background-color: transparent;
    outline: none;
    background-position: right 0.75rem top 0.5rem;
    border: none;
    margin-left: 0;
    margin-top: 0rem;
    padding-left: 0;
    padding-top: 0;
    box-shadow: none;
    cursor: pointer;
}

.navbar .form-control {
    width: 555px;
    height: 56px;
}

.navbar div.d-flex .form-select {
    padding-bottom: 0;
    margin-left: 0.5rem;
    padding-left: 0.2rem;
    margin-bottom: 0;
    margin-top: 0;
    background-position: right 0.75rem top 0.75rem;
    box-shadow: none;
    cursor: pointer;
}

.navbar form .position-absolute {
    top: 35%;
    right: 1.5rem;
    cursor: pointer;
}