@import url('./_responsive.css');

:root {
                  --primary: #62BE12;
                  --primary1: #347720;
                  
              }

.navbar .navbar-brand{
                  color: black;
font-size: 24px;
font-family: 'Manrope';
font-weight: 700;
line-height: 24px;
word-wrap: break-word
}
.bg-cust{
                  background-color: rgb(238, 238, 238);
}
.navbar .register-btn{
                  border: 1px solid var(--primary);
                  color: var(--primary);
font-size: 16px;
font-family: 'Manrope';
font-weight: 700;
/* text-transform: capitalize; */

}
.navbar .user-login-btn {
                  background-color: var(--primary);
                  color: white;
font-size: 16px;
font-family: 'Manrope';
font-weight: 700;
/* text-transform: capitalize; */

}